<!-- Scripts -->
<!--<script src="/assets/js/jquery.min.js"></script>-->
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script src="/assets/js/jquery.poptrox.min.js"></script>
<!--<script src="/assets/js/skel.min.js"></script>-->
<script src="https://cdn.staticfile.org/skel/3.0.1/skel.min.js"></script>
<script src="/assets/js/util.js"></script>
<!--[if lte IE 8]><script src="/assets/js/ie/respond.min.js"></script><![endif]-->
<script src="/assets/js/main.js"></script>